#header1{
    background-color: brown;
    width: 100%;
    position: fixed;
    left: 0px;
    height: 40px;
    top: -3px;
    z-index: 3;
}

#mainfacebook1{
    position: absolute;
    top: 10px;
    left: 30px;
}

#mainfacebook1:hover{
    opacity: 0.5;
}

#maininsta1{
    position: absolute;
    top: 9px;
    left: 70px;
}

#maininsta1:hover{
    opacity: 0.5;
}

#mainpinter1{
    position: absolute;
    top: 9px;
    left: 110px;
}

#mainpinter1:hover{
    opacity: 0.5;
}

.textchanging-header{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: -5px;
    font-size: medium;
    left: 820px;
}

#Faq{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    text-decoration: none;
    top: 11px;
    left: 1680px;
}

#currency{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    text-decoration: none;
    top: 12px;
    width: 8.5%;
    left: 1725px;
}

#header2{
    background-color: rgb(227, 227, 227);
    width: 100%;
    position: fixed;
    left: 0px;
    height: 70px;
    top: 36px;
    z-index: 3;
}

#ul1{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

#shop1{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#020203;
}

#story1{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#020203;
}

#thanksgiving1{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#020203;
}

#sale1{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#020203;
}

#ul1{
    position: absolute;
    top: 10px;
    left: 24px;
}

#logo1{
    position: absolute;
    top: 2px;
    left: 805px;
}

#img1main{
    position: absolute;
    top: 60px;
    z-index: -1;
    left: -20px;
}

#mainthing{
    position: absolute;
    left: 1500px;
    top: 8px;
}

#logintext1{
    color: rgb(0, 0, 0);
    font-size: medium;
    width: 140%;
    position: absolute;
    top: -5px;
    left: 37px;
}

#cart1{
    position: absolute;
    left: 1650px;
    top: 10px;
    text-decoration: none;
}

#carttext1{
    color: rgb(0, 0, 0);
    font-size: medium;
    width: 140%;
    position: absolute;
    top: -5px;
    left: 37px;
}

.iconthing1{
    position: absolute;
    top: 600px;
    left: 1100px;
}

.iconthing2{
    position: absolute;
    top: 600px;
    left: 900px;
}

.iconthing3{
    position: absolute;
    top: 600px;
    left: 700px;
}

.nuttextmain{
    position: absolute;
    font-size: larger;
    top: 122px;
    left: 850px;
}

.quantityofnutcrackers{
    position: absolute;
    font-size: small;
    color: gray;
    left: 917px;
    top: 210px;
}

.shop1nut{
    position: absolute;
    left: 450px;
    top: 285px;
}

.colltext{
    left: 150px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 230px;
}

ul{
    list-style-type: none;
    font-size: large;
}

#list1 a{
    color: black;
    text-decoration: none;
    position: absolute;
}

.anotheronecuznotworking{
    position: absolute;
    top: 286px;
    left: 125px;
}

.anotheronecuznotworking a{
    text-decoration: none;
    color: black;
    margin: 0;
}

.anotheronecuznotworking a:hover{
    opacity: 0.5;
    color: black;
}

.text1nut{
    position: absolute;
    top: 630px;
    font-size: small;
    left: 450px;
}

.currency1nut{
    position: absolute;
    top: 662px;
    color: rgb(51, 51, 51);
    font-size: x-small;
    left: 450px;
}

.text2nut{
    position: absolute;
    top: 630px;
    font-size: small;
    left: 850px;
}

.currency2nut{
    position: absolute;
    top: 662px;
    color: rgb(51, 51, 51);
    font-size: x-small;
    left: 850px;
}

.shop2nut{
    position: absolute;
    left: 850px;
    top: 285px;
}

.text3nut{
    position: absolute;
    top: 630px;
    font-size: small;
    left: 1250px;
}

.currency3nut{
    position: absolute;
    top: 662px;
    color: rgb(51, 51, 51);
    font-size: x-small;
    left: 1250px;
}

.shop3nut{
    position: absolute;
    left: 1250px;
    top: 285px;
}

.text4nut{
    position: absolute;
    top: 630px;
    font-size: small;
    left: 450px;
    width: 140px;
}

.currency4nut{
    position: absolute;
    top: 662px;
    color: rgb(51, 51, 51);
    font-size: x-small;
    left: 450px;
}

.shop4nut{
    position: absolute;
    left: 450px;
    top: 285px;
}

.thosetwoinone{
    position: absolute;
    top: 430px;
    left: -1px;
}

.text5nut{
    position: absolute;
    top: 630px;
    font-size: small;
    left: 450px;
    width: 330px;
}

.currency5nut{
    position: absolute;
    top: 662px;
    color: rgb(51, 51, 51);
    font-size: x-small;
    left: 450px;
}

.shop5nut{
    position: absolute;
    left: 450px;
    top: 285px;
}

.betternotinonebruh{
    position: absolute;
    top: 430px;
    left: 400px;
}